# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore compiled output
/dist
/build

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor configuration files
.vscode/
.idea/
